*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#111;
    color:white;
}

.page{
    width:100%;
    min-height:100vh;
    padding:20px;
    background:linear-gradient(135deg,#4A0410,#4A0410,#4A0410);
}


.topbar{
    width:100%;
    height:58px;
    background:#F5D3DF;
    border-radius:50px;
    padding:0 28px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.brand{
    color:#4A0410;
    font-size:18px;
    font-weight:300;
    letter-spacing:1px;
}

.brand span{
    font-weight:800;
}

.topbar nav{
    display:flex;
    gap:12px;
}

.topbar nav a{
    text-decoration:none;
    color:white;
    background:#4A0410;
    padding:9px 18px;
    border-radius:30px;
    font-size:14px;
    font-weight:bold;
}


.home-content{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:45px;
    margin-top:20px;
}

.profile-frame{
    width:320px;
    height:400px;
    border:5px solid white;
    border-radius:35px;
    padding:18px;
}

.profile-frame img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.intro-text{
    max-width:420px;
}

.bubble{
    width:140px;
    height:105px;
    background:white;
    color:#6b0c0c;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:55px;
    font-weight:900;
    margin-bottom:18px;
    position:relative;
}

.bubble::after{
    content:"";
    position:absolute;
    bottom:-30px;
    left:35px;
    border-top:35px solid white;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    transform:rotate(40deg);
}

.intro-text h1{
    font-size:54px;
    margin-bottom:5px;
    font-weight:900;
}

.intro-text h2{
    font-size:24px;
    margin-bottom:28px;
}

.intro-text p{
    font-size:22px;
    line-height:1.5;
    font-weight:700;
    margin-bottom:28px;
}

.btn{
    display:inline-block;
    background:white;
    color:#4A0410;
    text-decoration:none;
    padding:12px 45px;
    border-radius:50px;
    font-size:18px;
    font-weight:bold;
}

.social-row{
    margin-top:45px;
    display:flex;
    justify-content:center;
    gap:18px;
}

.social-row img{
    width:38px;
    height:38px;
    border-radius:50%;
}

/* ABOUT */
.about-wrapper{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.about-left{
    width:55%;
}

.about-left h1{
    font-size:48px;
    text-decoration:underline;
    margin-bottom:25px;
    font-weight:900;
}

.about-left p{
    font-size:17px;
    line-height:1.5;
    font-weight:700;
    margin-bottom:22px;
}

.info-row{
    display:flex;
    gap:25px;
    margin-top:30px;
}

.label{
    background:#F5D3DF;
    color:#4A0410;
    display:inline-block;
    padding:8px 20px;
    border-radius:30px;
    font-size:13px;
    font-weight:bold;
    margin-bottom:15px;
}

.education-box,
.skills-box{
    width:50%;
}

.school{
    background:white;
    color:#222;
    padding:14px;
    border-radius:20px;
    margin-bottom:14px;
}

.school h3{
    font-size:16px;
    margin-bottom:5px;
    color:#6b0c0c;
}

.school p{
    font-size:10px;
    margin-bottom:4px;
    color:#222;
}

.school span{
    font-size:12px;
    font-weight:bold;
    color:#6b0c0c;
}

.skills-box ul{
    padding-left:20px;
    font-size:22px;
    line-height:1.6;
    font-weight:700;
}

.about-right{
    width:45%;
}

.about-right img{
    width:60%;
    border-radius:40px;
}


.projects-wrapper h1{
    font-size:48px;
    text-decoration:underline;
    margin-bottom:35px;
    font-weight:900;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:28px;
}

.double-image{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

.double-image img{
    width:50%;
    height:130px;
    object-fit:cover;
    border-radius:10px;
}

.project-card h3{
    font-size:22px;
    margin-bottom:12px;
}

.project-card p{
    font-size:15px;
    line-height:1.5;
    font-weight:700;
    margin-bottom:10px;
}

.project-card span{
    font-size:14px;
    font-style:italic;
}


.contact-title{
    width:380px;
    margin:0 auto 18px;
    background:#F5D3DF;
    color:#4A0410;
    padding:14px;
    border-radius:40px;
    text-align:center;
    font-size:26px;
    font-weight:bold;
}

.contact-sub{
    text-align:center;
    font-size:18px;
    margin-bottom:35px;
    font-weight:700;
}

.contact-grid{
    display:flex;
    gap:35px;
}

.left-contact{
    width:60%;
}

.contact-cards{
    display:flex;
    gap:18px;
    margin-bottom:25px;
}

.mini-card{
    flex:1;
    background:#F5D3DF;
    color:#4A0410;
    padding:20px;
    border-radius:30px;
    text-align:center;
}

.mini-card img{
    width:35px;
    height:35px;
    margin-bottom:10px;
}

.mini-card h3{
    font-size:16px;
}

.message-box{
    background:#F5D3DF;
    padding:20px;
    border-radius:20px;
}

.message-box h2{
    color:#4A0410;
    margin-bottom:15px;
    font-size:18px;
}

.message-box input,
.message-box textarea{
    width:100%;
    border:none;
    border-bottom:2px solid #ccc;
    padding:12px;
    margin-bottom:15px;
    font-size:14px;
    outline:none;
}

.message-box textarea{
    height:100px;
    resize:none;
}

.message-box button{
    display:block;
    margin:auto;
    border:none;
    background:#6b0c0c;
    color:white;
    padding:10px 35px;
    border-radius:30px;
    font-size:14px;
    cursor:pointer;
}

.right-contact{
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:15px;
}

.social-line{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:18px;
    font-weight:700;
}

.social-line img{
    width:32px;
    height:32px;
    border-radius:50%;
}

.right-contact p{
    margin-top:20px;
    font-size:20px;
    font-weight:700;
}

/* FOOTER */
footer{
    margin-top:35px;
    background:white;
    color:#6b0c0c;
    border-radius:20px;
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:14px;
    font-weight:bold;
}

.footer-left img,
.footer-right img{
    width:28px;
    height:28px;
}

.footer-right{
    display:flex;
    align-items:center;
    gap:8px;
}